on:
  push:
    # delete this item if you don't want to trigger this workflow when modify this repo
    branches: 
    - main
    - master
  schedule:
    # * is a special character in YAML so you have to quote this string
    # UTC 17:00 -> CST (China) 1:00, see https://datetime360.com/cn/utc-cst-china-time/
    - cron: '0 17 * * *'
name: Mirror GitHub Auto Queried Repos to Gitee
jobs:
  run:
    name: Sync-GitHub-to-Gitee
    runs-on: ubuntu-latest
    steps:
    - name: Mirror the Github repos to Gitee.
      uses: x-actions/git-mirrors@main
      with:
        src: github/ldm2060
        dst: gitee/ldm2060
        src_token: ${{secrets.PERSONAL_ACCESS_TOKEN }}
        dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
        dst_token: ${{ secrets.GITEE_TOKEN }}
        cache_path: "/github/workspace/git-mirrors-cache"
        mappings: ".github=>github"
        force_update: true
        # 直接取当前项目的仓库名
        static_list: ${{ github.event.repository.name }}

